API_GEN_SECRET=generate-key-here
# generate using python -c "import secrets, base64; print(base64.urlsafe_b64encode(secrets.token_bytes(64)).decode('utf-8'))"
# or you can do require('crypto').randomBytes(64).toString('base64')
# you will need to rename this file to .env